{% extends "layout.html" %}
{% block content %}

<style>
    .sectionDark {
    background-color: #A9BDBB;
    padding: 4rem
}
    .team_section{
        background-color: #A9BDBB;
    }
    .img_team{
        display: block;
        margin: auto;
        border-radius: 50%;
        border: 3px solid #56c5d9;
        max-width: 100%;
    }

    .team_name{
        text-align: center;
    }
    .team{
         display: block;
    }
    .dot-title {
    color: #ff8370;
}
    .title-section {
        text-align: center;
    }
</style>
<h1 class="title-section"><span class="first-word-title"></span>About <span class="dot-title">Us</span>.</h1>

<section class="sectionDark">
    <div class="container">



            <p>The system will work on face recognition where each student in the class will be photographed and
                        their details will be stored in a server of the school. The teacher make the attendance by he
                        click on button "Start Attendance" and "End Attendance" depend the time of class .
                        The system will recognize the faces and verify the face of each student in Two camera
                one when the student get inside to class and second when they are get outside of the class .</p>

        <p>The system will work on face recognition where each student in the class will be photographed and
                        their details will be stored in a server of the school. The teacher make the attendance by he
                        click on button "Start Attendance" and "End Attendance" depend the time of class .
                        The system will recognize the faces and verify the face of each student in Two camera
                one when the student get inside to class and second when they are get outside of the class .</p>

        <p>The system will work on face recognition where each student in the class will be photographed and
                        their details will be stored in a server of the school. The teacher make the attendance by he
                        click on button "Start Attendance" and "End Attendance" depend the time of class .
                        The system will recognize the faces and verify the face of each student in Two camera
                one when the student get inside to class and second when they are get outside of the class .</p>



    </div>
</section>
        <h4 class="title-section"><span class="first-word-title"> </span>Our <span class="dot-title">Team</span>.</h4>

    <div class="team_section">
        <div class="container">
        </div>
        <br><br>
        <div class="row">

            <div class="col-lg-3 col-md-12"></div>

            <div class="col-lg-2 col-md-12">
                <div class="team">
                    <img class="img_team" src="../static/Hac_logo.jpg">
                    <div class="team_name">
                        <h4 style="color: #de3116"><b>Hadassah College</b></h4>
                    </div>
                </div>

            </div>

            <div class="col-lg-2 col-md-12">
                <div class="team">
                    <img class="img_team" src="../static/photo_2020-08-06_17-47-16.jpg">
                    <div class="team_name">
                        <h4 style="color: #de3116"><b>Meir Vizan</b></h4>
                        <p>CEO & Founder</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-12">
                <div class="team">
                <img class="img_team" src="../static/photo_2020-07-26_15-35-45.jpg">
                    <div class="team_name">
                        <h4 style="color: #de3116"><b>Joshua Ades</b></h4>
                        <p>CEO & Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"></div>
        </div>
    </div>


<div class="container">
<br><br><br>
</div>

{% endblock content %}