{% extends "layout.html" %}
{% block content %}


<h1 class="title-section"><span class="first-word-title"></span>About The <span class="dot-title">System</span>.</h1>

<section class="about_section">
    <div class="container">

           <p>i-School is a face recognition based attendance system. For now uses the USB cameras connected to the
           server's host, as a simulator of IP cameras that installed in the entrance of every
           classroom and its exit. The system tracks the attendance percentage  of each student per lesson.
           Each camera's IP  (now USB connection number) stored in db by admin permitted user, each camera in DB
           has a column  'status' (exit\entry) and 'classroom number'.</p>


        <p>The algorithms used for face recognition and face detection are of open-cv python library. Much of
            the instructions were taken from <a href="https://www.pyimagesearch.com/2018/09/24/opencv-face-recognition/">
            OpenCV Face Recognition by Adrian Rosebrock</a> including the face aligner algorithm <a href="https://www.pyimagesearch.com">
            Pyimagesearch</a>The model for face detection is caffe model. <br>
            Each student has a folder (within dataset folder)  on his name and ID number. The folder contains the
            students facial images. The dataset should contain an unknown folder which should store the same amount
            of unknown faces as the amount that stored in each known student directory.
        </p>

        <p>Attendance monitoring will be executed manually by the teacher, using start/end class button on
           real time.Students are tracked as long as the cameras are on, regardless of an active class. The start/end
           class is for counting the time of each student been attendant in the classroom along the lesson.
        </p>

    </div>
</section>
        <h4 class="title-section"><span class="first-word-title"> </span>Our <span class="dot-title">Team</span>.</h4>

    <div class="team_section">
        <div class="container">
        </div>
        <br><br>
        <div class="row">

            <div class="col-lg-3 col-md-12"></div>

            <div class="col-lg-2 col-md-12">
                <div class="team">
                    <img class="img_team" src="../static/Hac_logo.jpg">
                    <div class="team_name">
                        <h4 style="color: #de3116"><b>Hadassah College</b></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-12">
                <div class="team">
                    <img class="img_team" src="../static/photo_2020-08-06_17-47-16.jpg">
                    <div class="team_name">
                        <h4 style="color: #de3116"><b>Meir Vizan</b></h4>
                        <p>CEO & Founder</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-md-12">
                <div class="team">
                <img class="img_team" src="../static/photo_2020-07-26_15-35-45.jpg">
                    <div class="team_name">
                        <h4 style="color: #de3116"><b>Joshua Ades</b></h4>
                        <p>CEO & Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"></div>
        </div>
        <br>
    </div>


<div class="container">
    <h4 class="title-section"><span class="first-word-title"> </span>Contact <span class="dot-title">Us</span>.</h4>
</div>
<div class="contact_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12"></div>
            <div class="col-lg-6 col-md-12">
                <div class="icon-section">
                    <div class="icon">
                        <img src="../static/envelope.png">
                        <b>: Meir15102@gmail.com | Joshua123ades@gmail.com</b>
                    </div>
                    <hr>
                    <div class="icon">
                        <img src="../static/linkedin.png">
                        <b><a href="https://www.linkedin.com/in/meir-vizan-a1662814b/">Meir Vizan</a> | <a href="https://www.linkedin.com/in/joshua-ades-20467b145/">Joshua Ades</a></b>
                    </div>
                    <hr>
                    <div class="icon">
                        <img src="../static/github.png">
                        <b><a href="https://github.com/MeirVizan"> github.com/MeirVizan</a> | <a href="https://github.com/MeirVizan"> github.com/JoshuaAdes</a></b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"></div>
        </div>
    </div>
</div>

{% endblock content %}