{% extends "layout.html" %}
{% block content %}


<div class="container">

    <br><br>
        <div class="content-section">
          <div class="media">

            <img class="rounded-circle account-img" src="{{ image_file }}">

            <div class="media-body">

              <h2 class="account-heading">{{ current_user.username }}</h2>

                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
               <h3></h3>
             <!--  <button style="text-align: center" id="execute_btn" type="button" class="btn btn-outline-info">Execute</button> -->
              <!--  <button style="text-align: center" id="execute_btn" type="button" class="btn btn-outline-info"><a style="text-decoration: none" href="/course">Execute</a></button>-->
                <a href="{{ url_for('teacher.course')}}" type="button" class="btn btn-secondary btn-lg">Your courses</a>
                <!--  -->
            </div>
        </div>
        <hr>
        <a href="{{ url_for('teacher.updateAccountDetails')}}" type="button" class="btn btn-secondary btn-lg">Update info</a>
       <hr>

</div>

{% endblock content %}