{% extends "layout.html" %}
{% block content %}


<div class="container">

    <br><br>
        <div class="content-section">
          <div class="media">

            <img class="rounded-circle account-img" src="{{ image_file }}">

            <div class="media-body">

              <h2 class="account-heading">{{ current_user.username }}</h2>

                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 btn-teacher">
                <a href="{{ url_for('teacher.course')}}" type="button" class="btn btn-outline-secondary">Your courses</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 btn-teacher">
                <a href="{{ url_for('teacher.updateAccountDetails')}}" type="button" class="btn btn-outline-secondary">Update info</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 btn-teacher">
                <a href="{{ url_for('teacher.logout')}}" type="button" class="btn btn-outline-secondary">Logout</a>
            </div>
        </div>


</div>

{% endblock content %}