{% extends "layout.html" %}
{% block content %}


    <section class="main-section">
        <div class="overlay">
        <div class="max-layout centerItems">
            <div class="title-site">
                <h1>Smart Attendance™</h1>
                <p>Face Recognition system to reduce attendance time</p>
            </div>
        </div>
        </div>
    </section>

<div class="container">

    <div class="row">
        <!--<div class="max-layout centerItems">-->
            <div class="problem_case">
                <h3 class="title-section"><span class="first-word-title"></span>The <span class="dot-title">Challenge</span>.</h3>
                <ul>
                    <h5>Algorithm</h5>
                    <li>Finding an existing reliable Face Recognition Algorithm from an open source code.</li>
                    <li>An algorithm which requires a reasonable amount of face images per student.</li>
                    <li>Models of face detection from multiple position such as frontal right and left face profiles.</li>
                    <h5>System</h5>
                    <li>Reduce attendance time.</li>
                    <li>Constant tracking student attendance in all classrooms at any given moment.</li>
                    <li>Tracking the time each student has been present in the classroom during the lesson.</li>
                </ul>
            </div>
        <!--</div>-->
    </div>
</div>

<section class="sectionDark">
    <div class="container"><!--<div class="max-layout centerItems">-->
            <h3 class="title-section"><span class="first-word-title"></span>The <span class="dot-title">Solution</span>.</h3>
            <div class="row">
                <div class="col-lg-6 col-md-12 context-solution">
                    <p>
                        i-School is an AI powered face recognition solution
                        which uses Computer Vision and Machine
                        Learning algorithms to mark the attendance of students in school.<br><br>
                       <!-- Using a range of algorithms that cv2.dnn provides for face detection, embedding extraction and
                        recognition in real time.-->

                    </p>
                   <!-- <p>
                        The system will work on face recognition where each student in the class will be photographed and
                        their details will be stored in a server. The teacher can then start attendance by
                        clicking start/end class button.
                    </p>-->
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="img-solution">
                        <img src="../static/frame_0_delay-s.jpg" >
                    </div>
                </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="solution-section">
        <!--<div class="max-layout centerItems">-->
            <div>
                <h3 class="title-section"><span class="first-word-title"></span>How it <span class="dot-title">Works</span>.</h3>
                <div class="row">
                    <div class="col-lg-5 col-md-10">
                        <div class="img-solution">
                            <img src="../static/b.jpg" >
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-6 col-md-12 context-solution">
                        <p>
                            Using a range of algorithms that cv2.dnn provides for face detection, embedding extraction and
                        recognition in real time.
                           The system will work on face recognition where each student in the class will be photographed and
                        their details will be stored in a server. The teacher can then start attendance by
                        clicking start/end class button.
                        </p>
                        <p>
                          <!-- Using a range of algorithms that cv2.dnn provides for face detection, embedding extraction and
                        recognition in real time.-->
                        </p>
                    </div>
                </div>
            </div>

        <!--</div>-->
        <div style="text-align: center" class="col-lg-12">
        <a href="{{ url_for('main_page.about')}}" type="button" class="btn btn-outline-secondary">KNOW MORE</a>
        </div>
    </section>
</div>
<br><br>
<section class="impact-section">
    <div class="container">
        <h3 class="title-section"><span class="first-word-title"></span>The <span class="dot-title">Impact</span>.</h3>
        <div class="row">
            <div class="col-lg-6 col-sm-12" style="margin-bottom: 20px">
                <div class="card cardImpact">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img style="margin: 15px 15px" src="https://img.icons8.com/pastel-glyph/64/000000/time.png"/>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h5 class="card-title">Saves Time</h5>
                            <p>With face recognition in place, students can’t mark proxy attendance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" style="margin-bottom: 20px">
                <div class="card cardImpact">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img style="margin: 15px 15px" src="https://img.icons8.com/wired/64/000000/id-not-verified.png"/>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h5 class="card-title">Reliability</h5>
                            <p>With face recognition in place, students can’t mark proxy attendance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" style="margin-bottom: 20px">
                <div class="card cardImpact">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img style="margin: 15px 15px" src="https://img.icons8.com/dotty/80/000000/time-management.png"/>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h5 class="card-title">Increases productivity</h5>
                            <p>With admin work taken care of, teachers and admins can focus on more productive work.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" style="margin-bottom: 20px">
                <div class="card cardImpact">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img style="margin: 15px 15px" src="https://img.icons8.com/dotty/80/000000/error--v1.png"/>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h5 class="card-title">Eliminate human error</h5>
                            <p>Based on artificial intelligence, this system will completely eliminate any chances
                                of human error.
                                The system is equipped with state of the art face detection and recognition algorithms,
                                making it completely foolproof.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


{% endblock content %}
