{% extends "layout.html" %}
{% block content %}
    <div class="container">


        <br><br>
    <h1>Report</h1>

        <form action="/datesExport" method="post">
            <label for="dates"><h6>Choose a date:</h6></label>
            <select name="dates" id="dates" class="custom-select custom-select-lg mb-3">
              <option selected>Open this to select date</option>
                {% for d in list_of_dates %}
              <option value="{{d.lesson_date}}" name="date_num">{{d.lesson_date.date()}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-outline-info">To Export</button>
        </form>
        <br>
<hr>
        <br>
        <form action="/studentsExport" method="post">
            <label for="student"><h6>Choose a student:</h6></label>
            <select name="student" id="student" class="custom-select custom-select-lg mb-3">
              <option selected>Open this to select student</option>
                {% for std in std_list_of_lecture %}
              <option value="{{std.nameOfStudent}}" name="std_name">{{std.nameOfStudent}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-outline-info">To Export</button>
        </form>

    </div>
{% endblock content %}
